#deletebtn {
    background-color: red;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.event-card h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.event-card p {
    margin-top: 0;
    margin-bottom: 5px;
}

.event-card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.event-card .actions a, .event-card .actions input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-card .actions a:hover, .event-card .actions input[type="submit"]:hover {
    background-color: #3e8e41;
}

.notice {
    color: green;
}

h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}

.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    margin-bottom: 1rem;
}

.form-field {
    margin-bottom: 1rem;
}

.form-field label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-field input[type="text"],
.form-field textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
}

.form-actions {
    margin-top: 1rem;
}

.form-actions input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.form-actions input[type="submit"]:hover {
    background-color: #0069d9;
}

.event-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}

.event-link {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-link:hover {
    background-color: #3e8e41;
}

.event-link:last-child {
    background-color: #ff5c5c;
}

.event-actions a, .event-actions input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-actions a:hover, .event-actions input[type="submit"]:hover {
    background-color: #3e8e41;
}

.event-card-created {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 24px;
    height: max-content;
}

#openbtn{
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.backeventsbtn {
    background-color: #ffef92;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.show-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}